* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", sans-serif;
  font-size: 17px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'menu-area'
    'content-area'
    'facts'
    'footer';
  background-color: white;
  gap: 10px;
}

.header {
  grid-area: header;
  background-color: #2C69D5;
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
}

.header > h1 {
  font-size: 40px;
}

.tab-radio {
    display: none;
}

.tab-label {
  grid-area: menu-area;
  padding: 12px 8px;
  margin-bottom: 0;
  background-color: #2C69D5;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s;
  border-bottom: 1px solid #00000020;
  display: block; 
}

.tab-label:hover {
  background-color: #4a80e6;
}

.tab-content {
    grid-area: content-area;
    display: none; 
}

#tab1:checked ~ .tab-label[for="tab1"],
#tab2:checked ~ .tab-label[for="tab2"],
#tab3:checked ~ .tab-label[for="tab3"],
#tab4:checked ~ .tab-label[for="tab4"] {
    background-color: #0d47a1;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

.content {
  padding: 0 10px;
}

.content > h1 {
  font-size: 30px;
  margin-bottom: 7px;
}

.content > p {
  margin-bottom: 7px;
}

.facts {
  grid-area: facts;
  border: 1px solid #0099cc;
  background-color: #6288cb;
  padding: 10px;
  color: #ffffff;
}

.facts > h2 {
  font-size: 20px;
}

.facts li {
  margin-bottom: 5px;
}

.footer {
  grid-area: footer;
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
}

@media (min-width: 600px) {
  .grid-container {
      grid-template-areas:
          'header header header header header header'
          'menu-area menu-area content-area content-area content-area content-area'
          'facts facts facts facts facts facts'
          'footer footer footer footer footer footer';
      grid-template-columns: repeat(6, 1fr);
  }

  .tab-label {grid-area: menu-area;}
  .tab-content {grid-area: content-area;}
  .facts {grid-area: facts;}

  .content {
      padding: 0 20px;
  }
}


@media (min-width: 768px) {
    .grid-container {
        grid-template-areas:
            'header header header header header header' 
            'menu-area content-area content-area content-area facts facts' 
            'footer footer footer footer footer footer';
        
        grid-template-columns: 1fr 3fr 3fr 3fr 2fr 2fr; 
    }

    .tab-label {
        grid-area: menu-area;
    }
    
    .tab-content {
        grid-area: content-area;
        padding-right: 20px;
    }

    .facts {
        grid-area: facts;
        padding: 15px; 
    }

    .content {
        padding: 0;
    }
}